body {
    background-color: #e2e8f0;
    width: 50%;
    max-width: 200%;
    min-width: 80%;
    margin: auto;
  }

.header{
    margin:10px;
    padding:10px;
}
.logo{
    width: 150px;
    height: 100px;
}
.main{
    margin: auto;
}
.footer{
    margin-bottom: 25px;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;

}

.card {
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    flex: 1;
    padding: 1rem;
    margin: 1rem;
    background-color: yellow
}

.card-img-top {
    border-radius: 20px 20px 20px 20px;
}

